//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title= "웹으로 즐기는 끝말잇기 온라인 게임! 도토리끄투"

block CSS
	link(rel='stylesheet', href='/css/in_kkutu.css')

block Middle
	+separator(5)
	div(style='float: left; width: 280px; margin-right: 10px; margin-top: -10px;')
		button#game-start= L('gameStart')
		div.server-list-box
			h3.server-list-title
				a#server-refresh
					+FA('refresh')
					+Expl(L('serverRefresh'))
				label= L('serverList')
				label#server-total(style='color: #444; font-size: 13px;')
			div#server-list
	div(style='float: left; margin-top: -10px; width: 720px; height: 250px; background-image: url(/img/portal/banner.png); background-color: #fff; border-radius: 10px;')
	iframe(src='https://discord.com/widget?id=923836416700612640&theme=white' style='float: left; margin-top: 10px; margin-right: 10px; border-radius: 10px; width: 280px; height: 380px;' allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts")
	div(style='float: left; margin-top: 10px; width: 720px; height:380px; background: #fff; border-radius: 10px;')
		iframe#kkutu-bulletin(style='width: 98%; height: 370px; margin-left: 10px; margin-top: 10px;' src='/kkutu_bulletin.html')
	+separator(10)